:host ::ng-deep {
    .mat-form-field-wrapper {
        margin: 0 8px;
    }
}

.container {
    padding: 40px 50px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            margin-bottom: 16px;
        }
    }

    .divider {
        margin-bottom: 25px;
    }
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .image-container {
        width: 17%;
        display: flex;
        align-items: center;
        transition: all 300ms;

        .profile-image {
            width: 100%;
            border-radius: 50%;
            height: 100%;
            transition: all 300ms;
        }

        .add-photo {
            opacity: 0;
            position: relative;
            right: 58%;
            color: white;
        }
    }

    .image-container:hover .add-photo {
        opacity: 1
    }

    .image-container:hover .profile-image {
        filter: brightness(55%);
    }

    .inputs-container {
        width: 76%;

        .input {
            width: 100%;
        }
        
        .input-medium {
            width: 50%;
        }
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin: 10px 15px;

    button {
        margin: 0 5px;
    }
}
